body {
  text-align: center;
  background-color: #011F3F;
}

li {
  margin-bottom: 1rem;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#instructions {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  width: auto;
  text-align: center;
  margin: 0% 20%;
  color: #FEF2BF;
  text-align: left;
}

.container {
  display: inline-block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.menu {
  margin: 30px 50px 200px 50px;
  display: inline-block;
  height: 50px;
  width: 100px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  background-color: #011F3F;
  border: 3px solid black;
  border-radius: 20%;
}

.menu p {
  vertical-align: middle;
}

.menu:hover {
  background-color: blue;
  color: #FEF2BF;
}

.menu:active {
  background-color: gray;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.ten-of-ten {
  background-color: green;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
